asn1crypto==0.24.0
cryptography==2.1.4
Django==1.11.26
django-taggit==0.24.0
django-widget-tweaks==1.4.5
enum34==1.1.6
idna==2.6
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
pbr==5.4.4
Pillow==8.2.0
psycopg2==2.8.4
psycopg2-binary==2.8.4
pycrypto==2.6.1
pygobject==3.26.1
pytz==2019.3
pyxdg==0.25
SecretStorage==2.3.1
six==1.13.0
sqlparse==0.2.4
stevedore==1.31.0
virtualenv==16.7.8
virtualenv-clone==0.5.3
virtualenvwrapper==4.8.4

